.test{
    background-color: #27b905;
    font-size: 20px;
    font-weight: bold;
}
img{
    width: 50%;
    height: 300px;

}
div{
    padding-left: 30px;
    margin-right: 50px;
}
.division1{
    background-color: #27b905;
}
.division1{
    background-color: bisque;
}
.division3{
    background-color: aquamarine;
}
#main{
    background-color: blue;
    display: flex;
    padding-top: 30px;
}
.imageparagraph{
    display: flex;
}
p{
    margin-left: 30px;
}